@page
@model Voluntariado.Pages.Offers.CreateModel
@{
    ViewData["Title"] = "Crear Oferta";
}

<h2>Crear Nueva Oferta</h2>

<form method="post">
    <div class="form-group">
        <label>Título</label>
        <input asp-for="Offer.Titulo" class="form-control" />
        <span asp-validation-for="Offer.Titulo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Descripción</label>
        <textarea asp-for="Offer.Descripcion" class="form-control"></textarea>
        <span asp-validation-for="Offer.Descripcion" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success mt-3">Guardar</button>
    <a asp-page="Index" class="btn btn-secondary mt-3">Cancelar</a>
</form>
