@page "{id:int}"
@model Voluntariado.Pages.Roles.DeleteModel
@{
    ViewData["Title"] = "Eliminar Rol";
}

<h1>Eliminar Rol</h1>

<h3>¿Estás seguro que deseas eliminar este rol?</h3>
<div>
    <h4>@Model.Role.Name</h4>
</div>

<form method="post">
    <input type="hidden" asp-for="Role.Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
</form>

