@page "{id:int}"
@model Voluntariado.Pages.Roles.EditModel
@{
    ViewData["Title"] = "Editar Rol";
}

<h1>Editar Rol</h1>

<form method="post">
    <input type="hidden" asp-for="Role.Id" />

    <div class="form-group">
        <label asp-for="Role.Name"></label>
        <input asp-for="Role.Name" class="form-control" />
        <span asp-validation-for="Role.Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success mt-3">Guardar Cambios</button>
    <a asp-page="Index" class="btn btn-secondary mt-3">Cancelar</a>
</form>
